@page "/mdetails/{id}"
@inject HttpClient Http
@inject NavigationManager UriHelper


<div>
    @if (this.Movie != null)
    {<div class="row">
            <div class="col-md-3">
                <Card>
                    <CardImage Source="@Movie.PrimaryImg" Alt="Placeholder image">
                    </CardImage>
                </Card>

                <div class="movie-description">
                    @Movie.Description
                </div>
            </div>
            <div class="col-md-9">
                <div class="videoWrapper">
                    <iframe width="600" height="600" src="@Movie.PrimaryVid">
                    </iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h2 style="color:white"> Casts</h2>
                <Table class="cast-details" Borderless="true" style="color:white">
                    <TableHeader>
                        <TableRow>                            
                            <TableHeaderCell>Name</TableHeaderCell>                            
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        @foreach (var item in Movie.Casts)
                        {
                            <TableRow>
                                                           
                                <TableRowCell>@item.Name as @item.CharacterName </TableRowCell>
                            </TableRow>
                        }

                    </TableBody>
                </Table>
            </div>
        </div>


    }
</div>

@code {
    [Parameter]
    public string id { get; set; }

    public MovieModel Movie { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var guid = new Guid(id);
        Movie = await Http.GetJsonAsync<MovieModel>($"api/movies/{guid}");
    }
}

